player-connection-mode=Listen
player-connection-guid=124042306
player-connection-debug=0
player-connection-project-name=PracticalUnitySemester6_2024
player-connection-ip=192.168.3.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5bb063305af9420790b558d909d8d8c6
